:root {
  --attention: hsl(18, 100%, 50%);
  --banner: hsl(100, 10%, 90%);
  --darkred: hsl(0, 80%, 30%);
  --darkblue: hsl(220, 80%, 40%);

}

body {
  background-image: url("../image/sky.jpg");
}

.title {
  text-align: center;
  color: var(--attention);
  font-family: 'Roboto Slab', serif;
  font-size: 200%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: 'Viga', sans-serif;
  background-color: var(--banner);
  font-size: 50%;
}

.wind {
  color: hsl(170, 60%, 45%);
}

.earth {
  color: hsl(40, 80%, 40%);
}

.lightning {
  color: hsl(320, 50%, 45%);
}

.nature {
  color: hsl(100, 40%, 35%);
}

.water {
  color: hsl(240, 60%, 40%);
}

ul li {
  list-style: none;
  flex-basis: 0;
  
}


.picture {
  display: block;
  border: 5px solid var(--darkblue);
  width: 50%;
  height: 50%;
  margin: 20px auto;
}

.story {
  text-align: justify;
  font-size: 60%;
  font-weight: bold;
  color: var(--darkred);
  background-color: hsl(190, 80%, 80%);
  border: 4px solid var(--darkblue);
  margin: 10px auto;
  padding: 15px;
  height: 300px;
  min-width: 300px;
  overflow-y: auto;
}

.description {
  text-align: center;
  
}

.disclaimer {
  font-size: 50%;
  color: var(--attention);
}

/* media query starts here */

@media all and (min-width: 600px) {
  .title {
    font-size: 250%;    
  }

  .menu {
    gap: 1.5rem;
    font-size: 80%;
  }

  .story {
    font-size: 80%;
    margin: 15px auto;
    padding: 15px; 
  }

  .disclaimer {
    font-size: 70%;
  }
}

@media all and (min-width: 800px) {
  .title {
    font-size: 300%;    
  }

  .menu {
    gap: 1.5rem;
    font-size: 100%;
  }

  .story {
    font-size: 100%;
    margin: 25px auto;
    padding: 15px; 
  }

  .disclaimer {
    font-size: 100%;
  }
}